# global

# file
try.py
*.zip*

# folder
__pycache__/
frozen_model/
ckpt/
.vscode/
build/
old/
backup/

# local

# folder
# ICBIP 文件夹为相关文章信息 (原始数据以及原文等等)，已备份至个人百度网盘 MIACA/CSTRO/ICBIP 处
ICBIP
material
code/dataset/train/
code/dataset/test/
code/dataset/*.txt