# file
*.txt
*/*.txt
**/*.txt
try.py
*/try.py
**/try.py
*.npy
*/*.npy
**/*.npy

# folder
__pycache__
*/__pycache__
**/__pycache__
frozen_model
*/frozen_model
**/frozen_model
ckpt
*/ckpt
**/ckpt
.vscode
*/.vscode
**/.vscode
model
*/model
**/model
# try
# */try
# **/try
papers
old